<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table>
    <tr>
        <td colspan="2">
            <p th:text="${card.name}" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <span th:text="---------------------" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr th:each="skill: ${card.skills}">
                    <td th:text="${skill.skillName.name} + ': ' + ${skill.value}"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <form action="#" th:action="@{/selectCard}" th:object="${gameForm}" method="post">
                <input type="hidden" th:field="${gameForm.cardId}" th:value="${card.id}" />
                <select th:field="${gameForm.skillName}">
                    <option th:each="skill: ${card.skills}" th:utext="${skill.skillName.name}" th:value="${skill.skillName.name}" />
                </select>
                <input type="submit" value="Send" />
            </form>
            <!--<img th:src="@{'/images/' + ${card.id} + '.jpg'}" />-->
        </td>
    </tr>
</table>

</body>
</html>