<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cromy game: Tied</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{'/js/jquery.1.7.2.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/js/jquery.imagemapster.min.js'}"></script>
</head>
<body style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/34/Tiled_brick_wall.jpg')">

<table cellspacing="10" cellpadding="10">
    <tr>
        <td>
            <h2 th:text="'Player ' + ${p1Number}" />
        </td>
        <td>
            <h2 th:text="'Player ' + ${p2Number}" />
        </td>
    </tr>
    <tr>
        <td>
            <span th:text="'Decks in card: ' + ${p1DeckSize}" />
        </td>
        <td>
            <span th:text="'Decks in card: ' + ${p2DeckSize}" />
        </td>
    </tr>
    <tr>
        <td>
            <img th:id="p1Card" th:src="@{'/images/' + ${p1Draw.id} + '.jpg'}" th:width="254" th:height="400" usemap="#optionsMap1" />

            <map name="optionsMap1" th:border="1">
                <area shape="rect" coords="32,620,468,642" href="#" th:if="${skill.skillName.name} == 'Height'" />
                <area shape="rect" coords="32,650,468,672" href="#" th:if="${skill.skillName.name} == 'Weight'" />
                <area shape="rect" coords="32,680,468,702" href="#" th:if="${skill.skillName.name} == 'Strength'" />
                <area shape="rect" coords="32,710,468,732" href="#" th:if="${skill.skillName.name} == 'Speed'" />
                <area shape="rect" coords="32,740,468,762" href="#" th:if="${skill.skillName.name} == 'Transformation Speed'" />
            </map>
            <script>
                $('#p1Card').mapster({
                    stroke: true,
                    strokeColor: 'ff0000',
                    strokeOpacity: 1,
                    strokeWidth: 1,
                    staticState: true,
                    fill: false
                });
            </script>
        </td>
        <td>
            <img th:id="p2Card" th:src="@{'/images/' + ${p2Draw.id} + '.jpg'}" th:width="254" th:height="400" usemap="#optionsMap2" />

            <map name="optionsMap2" th:border="1">
                <area shape="rect" coords="32,620,468,642" href="#" th:if="${skill.skillName.name} == 'Height'" />
                <area shape="rect" coords="32,650,468,672" href="#" th:if="${skill.skillName.name} == 'Weight'" />
                <area shape="rect" coords="32,680,468,702" href="#" th:if="${skill.skillName.name} == 'Strength'" />
                <area shape="rect" coords="32,710,468,732" href="#" th:if="${skill.skillName.name} == 'Speed'" />
                <area shape="rect" coords="32,740,468,762" href="#" th:if="${skill.skillName.name} == 'Transformation Speed'" />
            </map>
            <script>
                $('#p2Card').mapster({
                    stroke: true,
                    strokeColor: 'ff0000',
                    strokeOpacity: 1,
                    strokeWidth: 1,
                    staticState: true,
                    fill: false
                });
            </script>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p th:text="'Tied!'" />
        </td>
    </tr>
</table>
<form action="#" th:action="@{/tied}" method="get">
    <input type="hidden" th:field="${gameForm.skillName}" th:value="${gameForm.skillName}" />
    <input type="submit" value="Draw next" />
</form>

</body>
</html>